NEXT_PUBLIC_APP_NAME=AiJinhoBlog
NEXT_PUBLIC_APP_URL=http://localhost:3000

DATABASE_URL=mysql://root:password@localhost:3306/aijinhoblog

OPENAI_API_KEY=

CHROMA_URL=http://localhost:8000
CHROMA_COLLECTION=blog_posts

DROPBOX_ACCESS_TOKEN=
